body{
    text-align: center;
}

li:hover {
    background-color: blue;
}

li:active {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

li, ol {
    list-style: none;
}
div:hover{
    border: 5px solid green;
}

#div-primaria{
 color: red;
 font-style: italic ;
}

#div-secundaria {
 color: lawngreen;
 
}

#div-complementar {
    height: 100px;
    color: mediumvioletred;
    font-style: italic ;
}

#div-escura {
 color: rgb(22, 4, 4);
}

#div-clara {
 color: rgb(205, 77, 236);
 font-style: italic ;
}

