.super-mario {
    width: 200px;
    position: absolute;
    top: 128px;
    left: 27px;
    
  }
  
  .goomba {
    width: 110px;
    position: absolute;
    top: 386px;
    left: 148px;
    
    
  }
  
  .baloon {
    position: absolute;
    left: 386px;
    top: 188px;
    z-index: 1;
      
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 400px;
    left: 408px;
    z-index: 2;
  
  }

  .fala {
    font-size: 25px;
    position: absolute;
    top: 141px;
    left: 1090px;
  }
  
  .bowser {
    width: 300px;
    position: absolute;
    top: 284px;
    left: 644px;
    
  }

  .princesa {
    position: absolute;
    top: 288px;
    left: 1284px;
    width: 150px;
  }

  .balao {
    position: absolute;
    left: 989px;
    top: 160px;
  }
